/*
Font info: Inter
URL: https://fonts.google.com/specimen/Inter
License: SIL Open Font License, 1.1
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --base-clr: #f9f9f9;
    --text-clr: #333333;
    --line-clr: #E9E8ED;
    --accent-clr: #4A90E2;
}

*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: 'Inter', sans-serif;
}   

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);


    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;

}

#sidebar.collapsed {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;
}



#sidebar .logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
        font-weight: bold;
}

#sidebar .logo span{
    padding: none;
}

#sidebar .dine-in, #sidebar .take-out {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#sidebar ul li.active a{
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr);
    }
}   

#sidebar a{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1em;

}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar a:hover {
    background-color: var(--line-clr);  
}

.rotate svg{
    rotate: 180deg;
}

#toggle-button {
    margin-left: auto;
    padding: 12px 18px;
    border: none;
    border-radius:.5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-button:hover {
    background-color: var(--line-clr);
}



main {
    padding: min(30px, 7%);
    font-family: 'Inter', sans-serif;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-style: bold;
}

.tables,
.menu,
.payment {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    gap: 12px;
}
.menu button {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.menu .item-name {
    font-size: 1.2rem;
    font-weight: bold;
}
.menu .item-price {
    opacity: 0.85;
    margin-top: 4px;
}

.order p {
    padding: 8px 12px;
    font-weight: bold;
    border-top:#000000 2px solid;  
}
.order-list {
    list-style: none;
    padding: 0;
}

.order-list .order-item {
    display: flex;
    gap: 0px;
    align-items: center;
    padding: 8px 12px;
    border-top: 1px solid #ddd;
}

.order-list .order-item span {
    font-size: 16px;
}

.item-name {
    font-weight: 600;
    padding-right: 10px;
}

.item-quantity {
    color: #666;
}

.item-subtotal {
    padding: 12px 12px;
    margin-right: auto;
    font-weight: bold;
}

.item-x-icon {
    padding: 12px 12px;
    background-color: var(--base-clr);
    border: none;
    color:#e30303;
    cursor: pointer;
}

.item-x-icon:hover {
    background-color:#e30303;
    color: rgb(255, 255, 255);
}

/* .x-button {
    padding: 12px 20px;
    background: none;
    border: none;
    color: rgb(255, 38, 0);
    font-size: 20px;
    font-weight: bold;  
    cursor: pointer;
}

.x-button:hover {
    color: darkred;
} */

.send-button {
    padding: 12px 12px;
    background-color: var(--base-clr);
    border: none;
    color: #4A90E2;
    cursor: pointer;
    transition: background-color 0.0s;
}

.send-button:hover {
    background-color: #4A90E2;
    color: rgb(255, 255, 255);
}

.send-button:active {
    background-color: #3378d1;
    color: rgb(255, 255, 255);
}

.payment {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
.section {
    padding: 16px;
    border: 1px solid #ddd;
    margin-bottom: 24px;
}

button {
    padding: 20px 28px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.07s;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}
